.wish-list{
    list-style: none;
}

.full-width {
    width: 100%;
  }

  .wish-title{
    text-align: center;
    align-items: center;
    display: block;
  }
  
  .wish-form {
    min-width: 120px;
    margin: 20px auto;
  }

  .result-content{
    margin-left: 50px;
    padding: 10px;
  }
  
  .mat-mdc-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;

  }
  
  .col {
    flex: 1;
    margin-right: 20px;
    align-items: center;
    text-align: center;
  }
  
  .col:last-child {
    margin-right: 0;
  }