<form
[formGroup]="contactForm"
(ngSubmit)="$event.preventDefault(); submitForm()"
>
    <mat-card 
        appearance="outlined" 
        class="contact-form"
        >
        <mat-card-header>
            <mat-card-title 
                class="contact-title"
                >Contact Information
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <mat-form-field class="full-width">
                    <label class="">Your Name</label>
                    <input 
                        type="text"
                        name="name-text"
                        class=""
                        matInput
                        formControlName="senderName"
                    >
                    <div *ngIf="contactForm.get('senderName')?.invalid && contactForm.get('senderName')?.dirty || contactForm.get('senderName')?.touched">
                        <small 
                            matError
                            *ngIf="contactForm.get('senderName')?.hasError('required')"
                            >This is required.</small>
                    </div>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="full-width">
                    <label class="">Your Email</label>
                    <input 
                        type="email"
                        name="emailText"
                        class=""
                        matInput
                        formControlName="senderEmail"
                    >

                    <div *ngIf="contactForm.get('senderEmail')?.invalid && (contactForm.get('senderEmail')?.dirty || contactForm.get('senderEmail')?.touched)">
                        <small
                            class="text-danger"
                            *ngIf="contactForm.get('senderEmail')?.hasError('required')"
                            matError
                        >This is required.</small>
                        <small
                            *ngIf="contactForm.get('senderEmail')?.hasError('email')"
                            matError
                        >Please enter your email address.</small>
                    </div>
                </mat-form-field>
            </div>


            
            <div class="row">
                <mat-form-field class="full-width">
                    <label class="">Message</label>
                    <textarea
                        name="messageText"
                        class=""
                        matInput
                        cols="10"
                        formControlName="senderMessage"
                    >
                    </textarea>
                    <div *ngIf="contactForm.get('senderMessage')?.invalid && contactForm.get('senderMessage')?.dirty || contactForm.get('senderMessage')?.touched">
                        <small
                            matError
                            *ngIf="contactForm.get('senderMessage')?.hasError('required')"
                            >This is required.</small>
                        <small
                            matError
                            *ngIf="contactForm.get('senderMessage')?.hasError('minlength')"
                            >The message has to be at least 10 characters.</small>
                    </div>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-footer>
            <mat-card-actions>
                <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="contactForm.invalid"
                >Send Message</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</form>
